html {
  font-size: 62.5%;
}

body {
  height: 100%;
  padding: 0 24px;
  max-width: 65rem;
  margin: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #f4f6fa;
}

a {
  text-decoration: underline;
}

/* Misc */

.header_link,
.footer_link {
  color: rgb(136, 136, 136);
  font-size: 1.4rem;
  padding: 0 4px;
  letter-spacing: 0.1rem;
}

.divider {
  border: none;
  background-color: rgb(236, 235, 235);
  height: 2px;
  margin: 30px 0;
}

/* Header */

.site_header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.3rem;
}

.header_desc {
  color: rgb(140, 137, 137);
  font-size: 1.4rem;
}

/* Main Content */

.section_title {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: rgb(134, 134, 134);
}

/* Items */

.item_card {
  margin: 1.2rem 0;
  display: flex;
  flex-direction: column;
}

.item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin-bottom: 0.3rem;
}

.item_name a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

.item_meta {
  color: rgb(169, 169, 169);
  font-weight: 600;
  font-size: 1.2rem;
}

.item_title {
  font-size: 1.2rem;
  color: rgb(130, 130, 130);
}

.item_details {
  margin: 1rem 0;
  padding: 0 2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  list-style-type: disc;
}

.item_detail {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

/* Footer */

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 40px;
}
